main{
    background-image: none;
    background: #F7F7F7;
    background: radial-gradient(ellipse at center, #F7F7F7, #C7BB9E);
    justify-content: center;
    overflow-y: hidden;
}

.h1titre{
    text-align: center;
    color: #9D9D9D;
    margin-bottom: 15px;
}


.container {
    width: 600px;
}

.right {
    display: flex;
    justify-content: end;
    font-size: 1em;
    color: black;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem 1.2rem;
    width: 350px;
    border-radius: 50px;
    border: 1px solid white;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin-left: 14em;
    margin-bottom: 10px;

}

.rightRetrait {
    display: flex;
    justify-content: end;
    font-size: 1em;
    color: black;
    background: rgba(255, 255, 255, 0.3);
    padding: 1rem 1.2rem;
    width: 350px;
    border-radius: 50px;
    border: 1px solid white;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
    color: black;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    margin-left: 11 em;
    margin-bottom: 10px;
}

.select {
    margin-left: 14em;
}

::placeholder {
    font-weight: 400;
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 4px rgba(0,0,0,0.4);
}

.btn-perso{
    text-decoration: none;
    text-transform:uppercase;
    position:relative;
    top:0;
    left:0;
    padding:10px 30px;
    border-radius:100px;
    display:inline-block;
    transition: all .5s;
}

#idDescription{
    height: 150px;
}


.fieldset {
    border: 2px solid #79B4B7 !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
    margin-top: 30px !important;
    border-radius: 10px;
    
}

.legend {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    margin-top: -15px;
    background-color: #79B4B7;
    color: black;
    border-radius: 10px;
}

.button {
    display: flex;
    justify-content: space-around;
    margin-bottom: 70px;
}

.retour {
    margin-top: 20px;
    margin-left: 20px;
}



