body{
    background-image: none;
    background: #F7F7F7;
    background: radial-gradient(ellipse at center, #F7F7F7, #C7BB9E);

}

.proposition{
    width: .4em;
}

.container{
    display:table;
}

.alignement-div{
    display :table-row;
}

label{
    display : table-cell;
}

input{
    display : table-cell;
}

