header{
    background-color: #79B4B7 ;
    width: 100vw;
    display: flex;
    justify-content: center;
}

body{
    background-image: none;
}

#content{
    width: 100vw;
    display: flex;
    justify-content: space-between;
}

#searchbar{
    align-items: center;
    width: 100%;
    padding:15px;
    border-radius: 10px;
    box-shadow: 4px 4px 60px rgba(0,0,0,0.2);
}

/*
#recherche{
    flex: content;

}

#compte{
    margin-left: 2em;
}

#vendre{
    margin-top: 0.5em;
    margin-left: 2em;
}

#deco{
    
    margin-left: 114em;
}

#co{
    margin-top: 0.5em;
    margin-left: 112em;

}

.logo {
    margin-left: 30px;
}*/
