header{
    background-color: #79B4B7 ;

}

#recherche{
    flex: content;
    margin-top: 2em;
}

#compte{
    margin-top: 3em;
    margin-right: 3em;
}

#vendre{
    margin-top: 3em;
    margin-right: 3em;
}

#deco{
    margin-top: 3em;
    margin-right: 3em;
}

#co{
    margin-top: 3em;
    margin-right: 3em;
}

.logo {
    margin-left: 30px;
}