header{
    background-color: #79B4B7 ;

}

#recherche{
    flex: content;

}

#compte{
    margin-left: 2em;
}

#vendre{
    margin-top: 0.5em;
    margin-left: 2em;
}

#deco{
    
    margin-left: 114em;
}

#co{
    margin-top: 0.5em;
    margin-left: 112em;

}

.logo {
    margin-left: 30px;
}